@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&family=Quicksand&display=swap');

$transp-black: rgba(0, 0, 0, 0.5);

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	color: #000;
}

header {
	background-image: url("images/service-g7b8396aa1_1280(2).jpg");
	padding-bottom: 5rem;
	background-size: cover;
	
	&:after {
		content: '';
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}

.intro {
	margin: auto;
	text-align: center;
	align-items: center;
	padding: 2rem;

	h1, h2, h3 {
		font-family: 'Playfair Display', serif;
		color: #fff;
		font-size: 6em;
	}

	p {
		margin-top: calc(-2em + 4vw);
		color: #fff;
		font-size: calc(1em + 2vw);
	}
}

nav {
	padding: 1rem;
	background-color: #000;
	background-color: $transp-black;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	a {
		padding: 0.5rem 1rem;
		color: #fff;
		text-decoration: none;
		font-size: calc(1em + 0.2vw);
	}
}

.features {
	div {
		display: flex;
		font-size: calc(1em + 0.4vw);
	}

	.text {
		padding-inline: 1rem;
		width: 100%;
	}

	.image {
		width: 105%;
		display: block;
	}
}

footer {
	background-color: #181D31;
	color: #fff;
	padding: 3rem;
	display: flex;
	justify-content: center;
	font-size: calc(1em + 0.7vw);

	div {
		margin-inline: 1rem;
		display: block;
	}

	form {
		display: inline-block;
	}
}

/*
	======
	General styles
	======
*/

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

input[type=text] {
	padding: 0.5rem 0.6rem;
	width: 20vw;
}

button {
	padding: 0.65rem 1.15rem;
	border-radius: 0.2rem;
	border: none;
	background-color: #ccc;
	color: #000;

	&:hover {
		background-color: #fff;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	display: block;
	width: 100%;
}

@media (max-width: 40em) {
	.intro {
		padding: 1rem;
		padding-top: 3rem;

		h1, h2, h3 {
			font-size: 3em;
		}

		p {
			margin-top: -2rem;
			font-size: 1.4em;
		}
	}

	.features {
		font-size: 0.8em;
	}
}

@media (min-width: 35em) {
	div:nth-child(even) .text {
		order: 1;
	}
}