@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&family=Quicksand&display=swap");
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: #000;
}

header {
  background-image: url("images/service-g7b8396aa1_1280(2).jpg");
  padding-bottom: 5rem;
  background-size: cover;
}

header:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro {
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 2rem;
}

.intro h1, .intro h2, .intro h3 {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 6em;
}

.intro p {
  margin-top: calc(-2em + 4vw);
  color: #fff;
  font-size: calc(1em + 2vw);
}

nav {
  padding: 1rem;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

nav a {
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: calc(1em + 0.2vw);
}

.features div {
  display: flex;
  font-size: calc(1em + 0.4vw);
}

.features .text {
  padding-inline: 1rem;
  width: 100%;
}

.features .image {
  width: 105%;
  display: block;
}

footer {
  background-color: #181D31;
  color: #fff;
  padding: 3rem;
  display: flex;
  justify-content: center;
  font-size: calc(1em + 0.7vw);
}

footer div {
  margin-inline: 1rem;
  display: block;
}

footer form {
  display: inline-block;
}

/*
	======
	General styles
	======
*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

input[type=text] {
  padding: 0.5rem 0.6rem;
  width: 20vw;
}

button {
  padding: 0.65rem 1.15rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #ccc;
  color: #000;
}

button:hover {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
}

@media (max-width: 40em) {
  .intro {
    padding: 1rem;
    padding-top: 3rem;
  }
  .intro h1, .intro h2, .intro h3 {
    font-size: 3em;
  }
  .intro p {
    margin-top: -2rem;
    font-size: 1.4em;
  }
  .features {
    font-size: 0.8em;
  }
}

@media (min-width: 35em) {
  div:nth-child(even) .text {
    order: 1;
  }
}
